doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(ref='stylesheet', href='/materialize/css/materialize.css')
    script(src='materialize/js/materialize.js')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
  body
    block content
